@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: normal;
}

body {
    background-color: #0b0808;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

main {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
}

main.blizzard {
    background-image: url('../img/blizzard.jpeg');
}

main.clear {
    background-image: url('../img/clear.jpeg');
}

main.drizzle {
    background-image: url('../img/drizzle.jpeg');
}

main.sunny {
    background-image: url('../img/sunny.jpeg');
}

main.clouds {
    background-image: url('../img/cloudy.jpeg');
}

main.mist, main.Mist, main.haze, main.smoke {
    background-image: url('../img/mist.jpeg');
}

main.fog {
    background-image: url('../img/fog.jpeg');
}

main.rain {
    background-image: url('../img/rain.jpeg');
}

main.snow {
    background-image: url('../img/snow.jpeg');
}

main.sleet {
    background-image: url('../img/sleet.jpeg');
}

main.thunder,
main.thundery {
    background-image: url('../img/thunder.jpeg');
}

main.overcast {
    background-image: url('../img/overcast.jpeg');
}

main.ice {
    background-image: url('../img/ice.jpeg');
}

main.shower {
    background-image: url('../img/shower.jpeg');
}

main.showers {
    background-image: url('../img/showers.jpeg');
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 100%;
    padding: 3vw;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}

/* Input */
.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    margin-bottom: 5vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.geo-input {
    all: unset;
    flex: 1;
    width: 100%;
    margin: 0 1vh;
    color: rgba(255, 255, 255, 1);
    font-size: 1em;
}

.geo-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.search-button {
    background: transparent;
    border: none;
    -webkit-animation: none;
    height: 20px;
    cursor: pointer;
}

/* Day Stats */
.day-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    margin-bottom: 60px;
    z-index: 2;
}

.day-stats__temperature {
    color: white;
    font-size: 4em;
    line-height: 100%;
}

.day-stats__temperature__value {
    line-height: 100%;
}

.day-stats__feelslike {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 6px;
    margin-top: 9px;
}

.day-stats__feelslike__value {
    font-weight: 400;
}

.day-stats_conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
    color: white;
    margin-top: 2vh;
}

.day-stats_conditions li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.day-stats_codition {
    color: white;
    font-size: 24px;
    line-height: 100%;
}

.day-stats_condition_text {
    color: white;
    font-size: 14px;
}

/* Main Container */
.main-container {
    position: relative;
    width: 80vw;
    height: 100vh;
    display: flex
;
    flex-direction: column;
    align-items: flex-start;
    padding: 5vw;
    background-image: url('../img/main-blur.png');
}

.secondary-title {
    margin-bottom: 1vh;
    color: white;
    font-size: 1em;
}

.weather__primary-title {
    margin-bottom: 2vh;
    color: white;
    line-height: 100%;
    letter-spacing: -0.05em;
}

.weather__location {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.location-icon {
    margin-right: 10px;
    margin-bottom: 8px;
}

.weather__location-text {
    color: white;
    font-size: 1em;
}

.weather__primary-stats {
    width: 50vw;
    color: white;
    font-size: 1em;
    margin-bottom: 10vh;
}

/* Forecast Stats */
.forecast {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-style: none;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-time {
    color: white;
    font-size: 1em;
    margin-bottom: 1vh;
}

.forecast-temperature {
    color: white;
    font-size: 3em;
    font-weight: 300;
    line-height: 100%;
}

.forecastHumidityText {
    color: white;
    font-size: 1em;
    margin-bottom: 2vh;
}

/* Chart */
#chart {
    margin: 3vh auto 3vh;
    width: 100%;
}